@model SEDC.eFitness.Models.Trainer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-light">Delete</h2>

<h3 class="text-light">Are you sure you want to delete this?</h3>
<div>
    <h4 class="text-light">Trainer</h4>
    <hr />
    <dl class="dl-horizontal text-light">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotrBiography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotrBiography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @{
                if (Model.ImagePath != null)
                {
                    var base64 = Convert.ToBase64String(Model.ImagePath);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                    <img src='@imgsrc' alt="slika" height="90px" width="auto" />
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "text-light"})
        </div>
    }
</div>
